@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  background: #f8fafc;
  color: #0f172a;
  font-family: var(--font-roboto);
}

button {
  cursor: pointer;
}
