@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
}

body {
  margin: 8px;
  color: #000;
  font-family: var(--font-roboto);
}

h1 {
  margin-block: 0.67em;
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1.6em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
